* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #e6e0c5;
  margin: 5% 20%;
}

h1 {
  font-size: 85px;
  display: block;
  text-align: center;
}

.Main-Title {
  font-weight: 700;
}

.header-nav {
  background-color: #ccc7af;
  display: flex;
  text-decoration: none;
  border-radius: 1em;
  margin-top: -7%;
  margin-left: -32%;
  margin-right: -32%;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-link:link,
.header-nav-link:visited {
  margin: 0 2.5em;
  padding: 5px 50px;
  display: inline-block;
  border-radius: 0.5em;
  background-color: #fff9db;
  box-shadow: 2px 2px 1px #6a6a6b;
  color: #665643;
  font-weight: 400;
  transition: all 0.3s;
}

.header-nav-link:hover,
.header-nav-link:active {
  /* color: #ce3f3f; */
  background-color: #e6e0c5;
}

.Sub-Title {
  font-weight: 400;
  color: #343a40;
}

.main-content {
  font-weight: 300;
  font-size: 16px;
}

.animal-names {
  list-style: square;
  padding-left: 20px;
}

.animal-names li {
  padding-bottom: 1em;
}

h3 {
  font-size: 45px;
}

img {
  align-self: center;
  border-radius: 0.5rem;
}

section {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  margin: 40px 10px;
  background-color: #fff9db;
  border-radius: 2em;
  color: #495057;
  box-shadow: 4px 4px 2px #aca89b;
}
a {
  font-weight: 400;
}
a:link {
  text-decoration: none;
  color: #66d9e8;
  font-weight: 400;
}

a:visited {
  color: #8d1d1d;
  font-weight: 400;
}
a:hover {
  color: #ce3f3f;
  font-weight: 400;
}

.bears {
  align-self: center;
  font-size: 60px;
  margin: 0.5em 0 0 0;
}

.bears-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  gap: 15px;
}

.bears-list img {
  margin-left: 5em;
}

.bears-link {
  padding: 1em 2em;
}
